#app-content {
  width: 100%;
  height: 100%;
}

.user-signin .mdl-layout {
	align-items: center;
  justify-content: center;
}

.user-signin .mdl-layout__content {
	padding: 24px;
	flex: none;
}

.user-register .mdl-layout {
	align-items: center;
  justify-content: center;
}

.user-register .mdl-layout__content {
	padding: 24px;
	flex: none;
}

.required-field::before {
    content: " * ";
    float: left;
    color: red;
}
