.center-content {
    align-items: center;
    justify-content: center;
}

li.selected {
  background: #ccc !important;
}

a {
    color: #41307c;
    text-decoration: none;
}

.required-field::before {
    content: " * ";
    float: left;
    color: red;
}

.app-sidebar {
  width: 100%;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

body .app-container>div:first-child {
    margin-top: 0px !important;
}

.navbar {
    padding: 0px !important;
}

.navbar-collapse {
    overflow: hidden !important;
}

.btn.btn-primary:hover {
    box-shadow: 0px !important;
}

.btn:hover {
  transform: none;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
}

.datepickers-container {
    z-index: 100000010;
}

.user-forms {
  position: absolute;
  top: 25%;
  left: 50%;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

.form-login h4 {
    border: 0 solid #fff;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    text-align: center;
}

.user-forms .container {
    margin-top: 60px;
}

.action-bar {
    margin-bottom: 40px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.record-list {
    position: relative;
    padding: 5px 0;
}

.record-list .label {
    font-weight: normal;
}

.record-item .checkbox label:before, .record-item .checkbox label:after, .record-item .radio label:before, .record-item .radio label:after {
  width: 25px;
  height: 25px;
}
