.records-container .records-list .record-item .record-state i {
    font-size: 13px;
    color: #fff;
    line-height: 20px;
}

.records-container .records-list .record-item .record-state {
    position: absolute;
    top: 13px;
    right: 5px;
    height: 24px;
    width: 24px;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #e5e5e5;
    text-align: center;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    border: 2px solid #fff;
}

.record-basic span.amount {
  display: inline-block;
  width: 65px;
}

.record-basic span.badge {
  display: inline-block;
  /*margin: 0px 15px 0px 15px;*/
}

.bg-palegreen {
    background-color: #a0d468!important;
}

.records-container .records-list .record-item .record-type .type {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}

.records-container .records-list .record-item .record-type {
    line-height: 30px;
    height: 50px;
    padding: 10px;
    text-align: right;
}

.records-container .records-list .record-item .record-time i {
    color: #ccc;
    width: 15px;
}

.records-container .records-list .record-item .divider {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 1px;
    background-color: #eee;
    display: inline-block;
}

.records-container .records-list .record-item .record-time {
    line-height: 30px;
    height: 50px;
    padding: 10px;
}

.records-container .records-list .record-item .record-basic .user-company {
    margin-left: 2px;
    color: #999;
}

.records-container .records-list .record-item .record-basic .user-at {
    margin-left: 2px;
    color: #ccc;
    font-size: 13px;
}

.records-container .records-list .record-item .record-basic .user-name {
    margin-left: 5px;
    font-size: 13px;
}

.records-container .records-list .record-item .record-basic .user-avatar {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}

.records-container .records-list .record-item .record-basic {
    height: 50px;
    padding: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: visible;
}

.records-container .records-list .record-item:first-child {

}

.records-container .records-list .record-item:last-child {
  margin-bottom: 8px;
}

.records-container .records-list .record-item {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    background-clip: padding-box;
    margin-bottom: 0px;
    padding: 0 15px;
    vertical-align: top;
}

.records-container .records-list {
    margin-top: 20px;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.records-container {
    position: relative;
    padding: 25px 5px;
    background-color: #f5f5f5;
}

.widget-main.no-padding {
    padding: 0;
}

.widget-main {
    padding: 12px;
}

.no-padding {
    padding: 0!important;
}

.widget-body {
    background-color: #fbfbfb;
    -webkit-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: 1px 0 10px 1px rgba(0, 0, 0, .3);
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, .3);
}

.widget-header>.widget-caption {
    line-height: 33px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: 400!important;
    font-size: 13px;
}

.widget-header .widget-icon {
    display: block;
    width: 30px;
    height: 32px;
    position: relative;
    float: left;
    font-size: 111%;
    line-height: 32px;
    text-align: center;
    margin-left: -10px;
}

.themesecondary {
    color: #5bc0de !important;
}

.widget-header.bordered-bottom {
    border-bottom: 3px solid #fff;
}

.widget-header {
    position: relative;
    min-height: 35px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    color: #555;
    padding-left: 12px;
    text-align: right;
}

.bordered-themesecondary {
    border-color: #5bc0de !important;
}

.widget-box {
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 3px 0 30px 0;
}
