/** user forms **/

.user-container {
    position: absolute;
    width: 24em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: intro .7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.user-container .user-profile {
    position: relative;
}

.user-container .profile-open {}

.user-container .profile-open .user-profile-form {
    visibility: visible;
    height: auto;
    opacity: 1;
    transform: translateY(-6em);
    padding-top: 12em;
}

.user-container .profile-open .user-fields {
    opacity: 1;
    visibility: visible;
}

.user-container .profile-open .user-profile-avatar {
    transform: translate(-50%, -1.5em);
    border-radius: 50%;
}

.user-container img {
    vertical-align: middle;
    max-width: 100%;
}

.user-container .user-profile-avatar {
    position: absolute;
    z-index: 30000001;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.25em;
    overflow: hidden;
    width: 4.5em;
    height: 4.5em;
    display: block;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: transform;
}

.user-container button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
}

.user-container .user-profile-form {
    position: relative;
    background: white;
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 3em;
    border-radius: .25em;
    -webkit-filter: drop-shadow(0 0 2em rgba(0, 0, 0, 0.2));
    transition: opacity .4s ease-in-out, height .4s ease-in-out, transform .4s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profile-open .user-profile-fields {
    opacity: 1;
    visibility: visible;
}
.user-profile-fields {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.user-container .user-fields {
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.user-container .field {
    position: relative;
    margin-bottom: 2em;
}

.user-container .user-footer {
    padding-top: 1em;
}
