<nav class="navbar navbar-static-top header-navbar" id="navbar"></nav>
<div class="dashboard">
    <div class="sidebar" id="sidebar-content"></div>
    <div class="main">
        <div class="scroll-wrapper main__scroll" style="position: relative;">
            <div class="main__scroll scrollbar-macosx scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 774px;">
                <div id="main-content"></div>
            </div>
        </div>
    </div>

    <div class="scroll-element scroll-x">
        <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="width: 96px;"></div>
        </div>
    </div>
    <div class="scroll-element scroll-y">
        <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar" style="height: 96px;"></div>
        </div>
    </div>
    
</div>
