<div class="quickmenu">
    <div class="quickmenu__cont">
        <div class="quickmenu__list">
            <div class="quickmenu__item active for-menu">
                <div class="fa fa-fw fa-home"></div>
            </div>
            <div class="quickmenu__item for-actions">
                <div class="fa fa-fw fa-list"></div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar__cont">
    <div class="sidebar__menu menu active" style="margin-left: 0px;">
        <div class="sidebar__title">Menu</div>
        <ul class="nav nav-menu">
            <li class="active">
                <a href="#" class="navigation-link" data-cls="home">
                    <div class="nav-menu__ico"><i class="fa fa-fw fa-star"></i></div>
                    <div class="nav-menu__text"><span>Dashboard</span></div>
                </a>
            </li>
            <li>
                <a href="#" class="navigation-link" data-cls="records/records">
                    <div class="nav-menu__ico"><i class="fa fa-fw fa-list"></i></div>
                    <div class="nav-menu__text"><span>Records</span></div>
                </a>
            </li>
            <li>
                <a href="#" class="navigation-link" data-cls="categories/categories">
                    <div class="nav-menu__ico"><i class="fa fa-fw fa-list"></i></div>
                    <div class="nav-menu__text"><span>Categories</span></div>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar__menu actions">
        <div class="sidebar__btn"><a href="" class="btn btn-block btn-default navigation-link" data-cls="records/record">New record</a></div>
        <div class="sidebar__btn"><a href="" class="btn btn-block btn-default navigation-link" data-cls="categories/category">New category</a></div>
    </div>
</div>
