<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet">
      <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent navigate" data-cls="category" data-upgraded=",MaterialButton,MaterialRipple">
            <i class="material-icons mdl-color-text--white" role="presentation">add</i>
            <span class="visuallyhidden">add</span>
          <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 160.392px; height: 160.392px; transform: translate(-50%, -50%) translate(9px, 35px);">
          </span></span>
        </button>
  </div>

  <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
      <table class="mdl-data-table mdl-js-data-table mdl-data-table">
          <thead>
              <tr>
                  <th class="mdl-data-table__cell--non-numeric">Name</th>
                  <th class="mdl-data-table__cell--non-numeric">Created at</th>
                  <th class="mdl-data-table__cell"></th>
              </tr>
          </thead>
          <tbody class="categories-items"></tbody>
      </table>
    </div>

</div>
