<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Search in records</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group input-entry-date">
                                <div class="col-lg-10">
                                    <input type="text" class="form-control datepicker-here" id="input-entry-date-from" name="input-entry-date-from" placeholder="Date from">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group input-entry-date">
                                <div class="col-lg-10">
                                    <input type="text" class="form-control datepicker-here" id="input-entry-date-to" name="input-entry-date-to" placeholder="Date to">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-lg-10">
                                    <div class="radio">
                                        <label>
                                        <input type="radio" name="payment_method" id="payment-method-cash" value="1" checked="">
                                        Cash
                                      </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                        <input type="radio" name="payment_method" id="payment-method-card" value="2">
                                        Credit card
                                      </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="col-lg-10">
                                    <div class="radio">
                                        <label>
                                          <input type="radio" name="kind" id="kind-expense" value="1" checked="">
                                          Expense
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                          <input type="radio" name="kind" id="kind-income" value="2">
                                          Income
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-2">
                            <div class="form-group">
                                <div class="btn-group pull-right">
                                    <a href="#" class="btn btn-primary" id="record-search">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
        <ul class="records-items item-summary">
    </div>
</div>
