<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <div class="navbar-collapse collapse in">
            <ul class="nav navbar-nav navbar-mobile">
                <li>
                    <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
                </li>
                <li class="logo">
                    <a class="navbar-brand" href="#"><span class="highlight">Categories</span> list</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-title">Categories</li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title"></div>
                    <ul class="card-action">
                        <li>
                            <button class="btn btn-primary btn-new"><i class="fa fa-plus"></i> New category</button>
                        </li>
                    </ul>
                </div>
                <div class="card-body no-padding">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Created at</th>
                                <th>Updated_at</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="categories-items"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
