<div class="widget-box">
    <div class="widget-header bordered-bottom bordered-themesecondary">
        <i class="widget-icon fa fa-list themesecondary"></i>
        <h5 class="widget-caption themesecondary">Your Records</h5>
    </div>
    <div class="widget-body">
        <div class="widget-main no-padding">
            <div class="records-container">
                <button type="button" class="btn btn-default btn-sm">New record</button>
                <button type="button" class="btn btn-default btn-sm filter-trigger">Filters</button>
                <ul class="records-list records-items"></ul>
                <nav>
                    <ul class="pagination"></ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="filter-bar-wrapper">
  <div class="filter-bar-content">
    <div class="filter-bar">
        <div class="card">
            <div class="card-header">
              <h3>Search</h3>
            </div>
            <div class="card-body">
                <form class="form filter-form">
                    <div class="row filter-row">
                        <div class="col-md-6">
                            <label for="input-entry-date-from">Date from</label>
                            <input type="text" class="form-control" placeholder="date from" id="input-entry-date-from" data-language='en' name="input-entry-date-from">
                        </div>
                    </div>
                    <div class="row filter-row">
                        <div class="col-md-6">
                            <label for="input-entry-date-to">Date to</label>
                            <input type="text" class="form-control" placeholder="date from" id="input-entry-date-to" data-language='en' name="input-entry-date-to">
                        </div>
                    </div>
                    <div class="row filter-row">
                        <div class="col-md-6">
                            <label for="input-category">Category</label>
                            <select class="selectpicker form-control" id="input-category" name="input-category">
                              <option value="0" class="option-default"></value>
                            </select>
                        </div>
                    </div>
                    <div class="row filter-row">
                        <div class="col-md-6">
                            <div class="radio radio-inline">
                                <input type="radio" name="input-payment" id="input-payment-1" value="1" checked>
                                <label for="input-payment-1">Cash</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="radio radio-inline">
                                <input type="radio" name="input-payment" id="input-payment-2" value="2">
                                <label for="input-payment-2">Credit card</label>
                            </div>
                        </div>
                    </div>
                    <div class="row filter-row">
                        <div class="col-md-6">
                            <div class="radio radio-inline">
                                <input type="radio" name="input-kind" id="input-kind-1" value="1" checked>
                                <label for="input-kind-1">Expense</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="radio radio-inline">
                                <input type="radio" name="input-kind" id="input-kind-2" value="2">
                                <label for="input-kind-2">Income</label>
                            </div>
                        </div>
                    </div>
                    <div class="row filter-row">
                        <div class="form-footer">
                            <div class="form-group">
                                <div class="col-md-9">
                                    <button class="btn btn-primary search">Search</button>
                                    <button class="btn btn-default clear">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- close filter -->
        <a href="#" class="filter-close">
            <i class="fa fa-close"></i>
        </a>
    </div>
  </div>
</div>
