<div class="row">
    <div class="col-md-3">
        <div class="well">
            <button type="button" class="btn btn-default btn-show-search" data-toggle="tooltip" data-placement="top" title="" data-original-title="search records">Search</button>
            <!-- <button type="button" class="btn btn-default btn-show-sort" data-toggle="tooltip" data-placement="top" title="" data-original-title="show records">Sort</button> -->
        </div>
    </div>
    <br/>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your records</h3>
            </div>
            <div class="panel-body">
                <ul class="records-items item-summary">
            </div>
        </div>
    </div>
</div>

<div class="search-modal modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search for records</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal form-search">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group entry-date">
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control datepicker-here" id="entry-date-from" name="entry-date-from" aria-label="Entry date from" placeholder="Date from">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group entry-date">
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control datepicker-here" id="entry-date-to" name="entry-date-to" aria-label="Entry date to" placeholder="Date to">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            <div class="radio">
                                                <label>
                                        <input type="radio" name="payment_method" id="payment-method-cash" value="1" checked="">
                                        Cash
                                      </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                        <input type="radio" name="payment_method" id="payment-method-card" value="2">
                                        Credit card
                                      </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="col-lg-10">
                                            <div class="radio">
                                                <label>
                                          <input type="radio" name="kind" id="kind-expense" value="1" checked="">
                                          Expense
                                        </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                          <input type="radio" name="kind" id="kind-income" value="2">
                                          Income
                                        </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-search">Search</button>
            </div>
        </div>
    </div>
</div>
