<div class="row">
    <div class="col-xs-3 col-md-3">
        <% if (items.isNew == true) { %>
          <p>Create a new category.</p>
        <% } else { %>
          <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#" id="btn-delete">Delete</a></li>
          </ul>
        <% } %>
    </div>
    <div class="col-xs-9 col-md-9">
        <form class="form-horizontal">
            <fieldset>
                <legend>
                    <%= items.title %>
                </legend>
                <div class="form-group input-name">
                    <label for="input-name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="input-name" name="input-name" placeholder="category name">
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" aria-label="form actions" class="btn btn-success btn-save btn-block">
                      <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save category
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <strong>Oh danger!</strong> <br/>Category will permanently deleted. Are you sure?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-ok">OK</button>
            </div>
        </div>
    </div>
</div>
