<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <div class="navbar-collapse collapse in">
            <ul class="nav navbar-nav navbar-mobile">
                <li>
                    <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
                </li>
                <li class="logo">
                    <a class="navbar-brand" href="#"><span class="highlight">Category</span> form</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-title">Category form</li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
            <div class="card-header"><%= items.title %></div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-4 form-group form-group-amount">
                          <label>Name</label>
                          <input type="text" id="input-name" name="input-name" required class="form-control" placeholder="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-9">
                          <button class="btn btn-primary save">Save category</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
