<div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>
    <span class="mdl-layout-title">Montra</span>
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
    <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp settings-dropdown" for="hdrbtn">
        <li class="mdl-menu__item navigate signout">Sign out</li>
    </ul>
</div>
