<div class="navbar-collapse collapse in">
    <ul class="nav navbar-nav navbar-mobile">
        <li>
            <button type="button" class="sidebar-toggle"><i class="fa fa-bars"></i></button>
        </li>
        <li class="logo">
            <a class="navbar-brand" href="#"><span class="highlight">Montra</span></a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
        <li class="navbar-title">Montra</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown notification warning">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <div class="icon"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></div>
            </a>
            <div class="dropdown-menu">
                <ul>
                    <li class="dropdown-header">Menu</li>
                    <li>
                        <a href="#" class="signout">
                            Signout
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
