<div class="scroll-wrapper main__scroll scrollbar-macosx" style="position: relative;">
    <div class="main__scroll scrollbar-macosx scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 774px;">
        <div class="main__cont">
            <div class="main-heading">
                <div class="main-title">
                    <ol class="breadcrumb">
                        <li class="active"><%= title %></li>
                    </ol>
                </div>
            </div>
            <div class="container-fluid half-padding">
                <div class="pages pages_dashboard">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Users statistic</h3>
                                </div>
                                <div class="panel-body"></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Overview</h3>
                            </div>
                            <div class="panel-body">
                                <div class="ov-widget">
                                    <div class="ov-widget__list">
                                        <div class="ov-widget__item ov-widget__item_inc">
                                            <div class="ov-widget__value">1,950</div>
                                            <div class="ov-widget__info">
                                                <div class="ov-widget__title">Expenses</div>
                                                <div class="ov-widget__change"><span>15</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                            </div>
                                        </div>
                                        <div class="ov-widget__item ov-widget__item_dec">
                                            <div class="ov-widget__value">$3,230</div>
                                            <div class="ov-widget__info">
                                                <div class="ov-widget__title">Incomes</div>
                                                <div class="ov-widget__change"><span>$140</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                            </div>
                                        </div>
                                        <div class="ov-widget__item ov-widget__item_warn">
                                            <div class="ov-widget__value">12,450</div>
                                            <div class="ov-widget__info">
                                                <div class="ov-widget__title">Balance</div>
                                                <div class="ov-widget__change"><span>921</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
<div class="scroll-element scroll-x">
    <div class="scroll-element_outer">
        <div class="scroll-element_size"></div>
        <div class="scroll-element_track"></div>
        <div class="scroll-bar" style="width: 96px;"></div>
    </div>
</div>
<div class="scroll-element scroll-y">
    <div class="scroll-element_outer">
        <div class="scroll-element_size"></div>
        <div class="scroll-element_track"></div>
        <div class="scroll-bar" style="height: 96px;"></div>
    </div>
</div>
</div>
