<div class="main__cont">
    <div class="main-heading">
        <div class="main-title">
            <ol class="breadcrumb">
                <li class="active">
                    <%= title %>
                </li>
            </ol>
        </div>
    </div>
    <div class="container-fluid half-padding">
        <div class="pages pages_dashboard">
            <div class="row">
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Users statistic</h3>
                        </div>
                        <div class="panel-body">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
            </div>
        </div>
    </div>
</div>
