<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <div class="navbar-collapse collapse in">
            <ul class="nav navbar-nav navbar-mobile">
                <li>
                    <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
                </li>
                <li class="logo">
                    <a class="navbar-brand" href="#"><span class="highlight">Dash</span> board</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-title">Dashboard</li>
            </ul>
        </div>
    </div>
</nav>
