<!-- sidebar content -->
<aside class="app-sidebar" id="sidebar"></aside>

<!-- app content -->
<div class="app-container">
    <div class="container-fluid">

        <!-- navbar content -->
        <nav class="navbar navbar-default" id="navbar"></nav>

        <!-- main content -->
        <div id="main-content"></div>

    </div>
</div>

<!-- snackbar -->
<div class="snack-wrap">
  <input type="checkbox" class="snackclose" id="close"/>
  <label class="snacklabel" for="close"></label>
  <div class="snackbar">
     <p></p>
  </div>
</div>
