<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" name="input-email" id="input-email" placeholder="Your email" class="form-control">
            <input type="password" name="input-password" id="input-password" placeholder="Your password" class="form-control">
            <div id="remember" class="checkbox">
                <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form>
        <!-- /form -->
        <a href="#" class="forgot-password">Forgot the password?</a>
    </div>
    <!-- /card-container -->
</div>
<!-- /container -->
