<form class="form-horizontal">
    <fieldset>
        <legend>New category</legend>
        <div class="form-group">
            <label for="input-name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="input-name" name="input-name" placeholder="category name">
            </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancel</button>
            <button type="button" id="category-submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </fieldset>
</form>
