<div class="list-group">
    <a href="#" class="list-group-item">
        <span class="badge"><%= stats.total %></span> Transactions
    </a>
    <br/>
    <a href="#" class="list-group-item list-group-item-success">
        <span class="badge badge-success"><%= stats.incomes %>&euro;</span> Incomes
    </a>
    <a href="#" class="list-group-item list-group-item-danger">
        <span class="badge badge-danger"><%= stats.expenses %>&euro;</span> Expenses
    </a>
    <a href="#" class="list-group-item list-group-item-default">
        <span class="badge badge-info"><%= stats.balance %>&euro;</span> Balance
    </a>
</div>
