<!-- <td> -->
<!-- <div class="checkbox"> -->
    <!-- <input id="checkbox-<%= _id %>" class="styled" type="checkbox"> -->
<!-- </div> -->
<!-- </td> -->
<td>
  <div class="record-time">
      <div class="divider hidden-md hidden-sm hidden-xs"></div>
      <span class="time"><%= entry_date_formatted %></span>
  </div>
</td>
<td>
  <div class="record-basic">
      <span class="badge" style="background-color:<%= category_id.color %>">
      <span><%= category_id.name %></span></span>
  </div>
</td>
<td>
  <div class="record-type">
      <span class="amount pull-right" style="color: <%= kind_color %>"> <%= amount %>&euro;</span>
  </div>
</td>
