<div class="row">
    <div class="col-xs-3 col-md-3">
        <p>Fill the form to add a new record.</p>
    </div>
    <div class="col-xs-9 col-md-9">
        <form class="form-horizontal">
            <fieldset>
                <legend>
                    <%= items.title %>
                </legend>
                <div class="form-group input-amount required">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">&euro;</span>
                                <input class="form-control" id="input-amount" name="input-amount" placeholder="enter amount" aria-label="Amount">
                                <span class="help-block">Amount</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group input-entry-date required">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </span>
                                <input type="text" class="form-control datepicker-here" id="input-entry-date" name="input-entry-date" aria-label="Entry date" placeholder="entry date">
                                <span class="help-block">Entry date</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group input-category required">
                    <div class="col-sm-8">
                        <div class="categories-select"></div>
                    </div>
                </div>
                <br/>
                <div class="form-group well">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="radio">
                                    <label><input type="radio" name="payment_method" id="payment-method-cash" value="1" checked="">Cash</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="payment_method" id="payment-method-card" value="2">Credit card</label>
                                    <span class="help-block">Payment method</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="radio">
                                    <label><input type="radio" name="kind" id="kind-expense" value="1" checked="">Expense</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="kind" id="kind-income" value="2">Income</label>
                                    <span class="help-block">Transaction kind</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Notes</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="input-notes"></textarea>
                        <span class="help-block">write additional notes.</span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" aria-label="form actions" class="btn btn-success btn-save btn-block">
                      <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save record
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- <div class="row">
    <div class="col-sm-3">
        <% if (items.isNew == false) { %>
            <div class="btn-group">
                <a class="btn btn-danger btn-sm" id="btn-delete" href="#">Delete</a>
            </div>
            <% } %>
    </div>
    <div class="col-sm-9">

    </div>

    <div class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        <strong>Oh danger!</strong> <br/>Record will permanently deleted. Are you sure?
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btn-ok">OK</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
