<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <div class="navbar-collapse collapse in">
            <ul class="nav navbar-nav navbar-mobile">
                <li>
                    <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
                </li>
                <li class="logo">
                    <a class="navbar-brand" href="#"><span class="highlight">Records</span> list</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-title">Records</li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
  <div class="col-md-8">
    <div id="records-content"></div>
  </div>
  <div class="col-md-2">
    <div id="stats-content"></div>
  </div>
</div>
