<div class="notice notice-warning">
    <strong>Transactions</strong> <span class="badge pull-right"><%= stats.total %></span>
</div>
<div class="notice notice-success">
    <strong>Incomes</strong> <span class="badge badge-success pull-right"><%= stats.incomes %>&euro;</span>
</div>
<div class="notice notice-danger">
    <strong>Expenses</strong> <span class="badge badge-danger pull-right"><%= stats.expenses %>&euro;</span>
</div>
<div class="notice notice-info">
    <strong>Balance</strong> <span class="badge badge-info pull-right"><%= stats.balance %>&euro;</span>
</div>
<!-- <div class="notice notice-lg">
    <strong>Big notice</strong> notice-lg
</div>
<div class="notice notice-sm">
    <strong>Small notice</strong> notice-sm
</div> -->
