<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" name="input-email" id="input-email" placeholder="Enter your email" class="form-control">
            <input type="password" name="input-password" id="input-password" placeholder="Enter your password" class="form-control">
            <button class="btn btn-lg btn-primary btn-block btn-register" type="submit">Create account</button>
        </form>
        <!-- /form -->
    </div>
    <!-- /card-container -->
</div>
<!-- /container -->
