<div class="sidebar-header">
  <a class="sidebar-brand" href="#"><span class="highlight">Montra</span> app</a>
  <button type="button" class="sidebar-toggle">
    <i class="fa fa-times"></i>
  </button>
</div>
<div class="sidebar-menu">
  <ul class="sidebar-nav">
    <li class="">
      <a href="#" data-cls="home" class="navigation-link">
        <div class="icon">
          <i class="fa fa-tasks" aria-hidden="true"></i>
        </div>
        <div class="title">Dashboard</div>
      </a>
    </li>
    <li>
      <a href="#" data-cls="records-layout" class="navigation-link">
        <div class="icon">
          <i class="fa fa-list" aria-hidden="true"></i>
        </div>
        <div class="title">Records</div>
      </a>
    </li>
    <li>
      <a href="#" data-cls="categories" class="navigation-link">
        <div class="icon">
          <i class="fa fa-list" aria-hidden="true"></i>
        </div>
        <div class="title">Categories</div>
      </a>
    </li>
    <li>
      <a href="#" class="signout">
        <div class="icon">
          <i class="fa fa-signout" aria-hidden="true"></i>
        </div>
        <div class="title">Signout</div>
      </a>
    </li>
  </ul>
</div>
<div class="sidebar-footer"></div>
