<div class="user-form user-signin">
		<form id="user-form" class="text-left">
			<div class="user-form-main-message"></div>
			<div class="main-user-form">
				<div class="user-group">
					<div class="form-group">
						<label for="lg_username" class="sr-only">Email</label>
						<input type="text" class="form-control" id="signin-input-email" name="signin-input-email" placeholder="email">
					</div>
					<div class="form-group">
						<label for="lg_password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="signin-input-password" name="signin-input-password" placeholder="password">
					</div>
				</div>
				<a href="#" class="btn btn-primary btn-md signin user-button"><i class="fa fa-chevron-right"></i></a>
			</div>
			<div class="etc-user-form">
				<p><a href="#" class="add">Create new account</a></p>
			</div>
		</form>
	</div>

	<div class="user-form user-signup" style="display: none;">
			<form id="signup-form" class="text-left">
				<div class="user-form-main-message"></div>
				<div class="main-user-form">
					<div class="user-group">
						<div class="form-group">
							<label for="lg_username" class="sr-only">First name</label>
							<input type="text" class="form-control" id="signin-input-email" name="signin-input-email" placeholder="first name">
						</div>
						<div class="form-group">
							<label for="lg_username" class="sr-only">Last name</label>
							<input type="text" class="form-control" id="signin-input-email" name="signin-input-email" placeholder="last name">
						</div>
						<div class="form-group">
							<label for="lg_username" class="sr-only">Email</label>
							<input type="text" class="form-control" id="signin-input-email" name="signin-input-email" placeholder="email">
						</div>
						<div class="form-group">
							<label for="lg_password" class="sr-only">Password</label>
							<input type="password" class="form-control" id="signin-input-password" name="signin-input-password" placeholder="password">
						</div>
					</div>
					<a href="#" class="btn btn-primary btn-md signin user-button"><i class="fa fa-chevron-right"></i></a>
				</div>
				<div class="etc-user-form">
					<p><a href="#" class="back">Back to login</a></p>
				</div>
			</form>
		</div>
