<div class="row">
    <div class="col-sm-3">
        <p>Use your account credentials to sign in.</p>
    </div>
    <div class="col-sm-9">
        <form class="form-horizontal">
            <fieldset>
                <legend>Sign in</legend>
                <div class="form-group input-email">
                    <label for="input-email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="input-email" name="input-email" placeholder="email">
                    </div>
                </div>
                <div class="form-group input-password">
                    <label for="input-password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="input-password" name="input-password" placeholder="password">
                    </div>
                </div>
                <div class="form-actions">
                    <div class="form-group">
                        <div class="btn-group btn-group-justified">
                            <a href="#" class="btn btn-primary" id="user-back">Back</a>
                            <a href="#" class="btn btn-default disabled"></a>
                            <a href="#" class="btn btn-success" id="user-submit">Sign in</a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
