<div class="user-container">
	<div class="user-profile">
		<button class="user-profile-avatar toggle">
	 	<img src="https://pbs.twimg.com/profile_images/554631714970955776/uzPxPPtr.jpeg" alt="Avatar">
		</button>
		<div class="user-profile-form">
			<div class="user-profile-fields">
				<div class="field">
					<input type="text" id="fieldUser" class="input" required="" pattern=".*\S.*">
					<label for="fieldUser" class="label">Username</label>
				</div>
				<div class="field">
					<input type="password" id="fieldPassword" class="input" required="" pattern=".*\S.*">
					<label for="fieldPassword" class="label">Password</label>
				</div>
				<div class="user-footer">
					<button class="btn">Login</button>
				</div>
			</div>
		</div>
	</div>
</div>
