<div class="main__cont">
    <div class="main-heading">
        <div class="main-title">
            <ol class="breadcrumb">
                <li class="active">
                    <%= title %>
                </li>
            </ol>
        </div>
    </div>
    <div class="container-fluid half-padding">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div id="categories-content"></div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div id="details-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
