<div class="panel panel-info">
<div class="panel-heading">
    <h3 class="panel-title">Filters</h3>
</div>
<div class="panel-body">
  <form class="form filters-form">
      <div class="container-fluid datalist-filter__detail">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label for="">Date from</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-calendar-minus-o"></i></div>
                          <input type="text" class="form-control input-entry-date-from has-filter" placeholder="date from" id="input-entry-date-from" data-language='en' name="input-entry-date-from">
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label for="">Date to</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-calendar-plus-o"></i></div>
                          <input type="text" class="form-control input-entry-date-to has-filter" placeholder="date from" id="input-entry-date-to" data-language='en' name="input-entry-date-to">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label for="">Select category</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-list"></i></div>
                          <select class="selectpicker-category form-control input-category has-filter" id="input-category" name="input-category">
                          <option value="0" class="option-default">choose</value>
                    </select>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label for="">Type</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-list"></i></div>
                          <select placeholder="Select" class="selectpicker-kind has-filter input-kind form-control" id="input-kind" name="input-kind">
                          <option value="0">choose</option>
                      <option value="1">Expense</option>
                      <option value="2">Income</option>
                    </select>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                      <label for="">Payment</label>
                      <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-list"></i></div>
                          <select placeholder="Select" class="selectpicker-payment_method has-filter input-payment form-control" id="input-payment" name="input-payment">
                          <option value="0">choose</option>
                          <option value="1">Cash</option>
                          <option value="2">Credit card</option>
                    </select>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>
</div>
