<div class="panel-heading">
    <h3 class="panel-title">Overview</h3>
</div>
<div class="panel-body">
    <div class="ov-widget">
        <div class="ov-widget__list">
            <div class="ov-widget__item ov-widget__item_warn">
                <div class="ov-widget__value"><%= recordsNo %></div>
                <div class="ov-widget__info">
                    <div class="ov-widget__title">Records</div>
                </div>
            </div>
            <div class="ov-widget__item ov-widget__item_inc">
                <div class="ov-widget__value">&euro;<%= incomes %></div>
                <div class="ov-widget__info">
                    <div class="ov-widget__title">Incomes</div>
                </div>
            </div>
            <div class="ov-widget__item ov-widget__item_dec">
                <div class="ov-widget__value">&euro;<%= expenses %></div>
                <div class="ov-widget__info">
                    <div class="ov-widget__title">Expenses</div>
                </div>
            </div>
            <div class="ov-widget__item ov-widget__item_tack">
                <div class="ov-widget__value">&euro;<%= balance %></div>
                <div class="ov-widget__info">
                    <div class="ov-widget__title">Balance</div>
                </div>
            </div>
        </div>
    </div>
</div>
